html{
}
body{
	height: 2160px;
	background: linear-gradient(180deg, rgba(52, 218, 108, 0) 43.23%, rgba(68, 194, 111, 0.7) 100%), #C6FFEA;
}

/* HEADER */	
#logo{
	float:left;
	margin: 20px 0 0 60px;	
}
ul{
	list-style-type: none;
}
a.button{
	background: #96F9AC;
	border-radius: 30px;

	font-family: 'Righteous', cursive;
	font-style: normal;
	font-weight: normal;
	text-align: center;
	text-decoration: none;
	font-size: 2.25em;
	line-height: 46px;
	color: #000000;

	float:right;
	box-sizing: border-box;
	padding: 24px 0 24px 0;
	margin: 42px 22px 0 0;
	width: 157px;
	height: 98px;	
}
a.notes{
	padding: 0;
}
div:hover{
	transform: rotate(20deg);
}


